<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div id="app">
    <h1>
      My Platzi´s course💚
    </h1>
    <p>
      <input v-model="title" type="text" placeholder="Titulo del curso" />
    </p>
    <p>
      <input v-model="time" type="number" placeholder="Horas" />
    </p>
    <p>
      <button @click="addCourse">Guardar Curso</button>
    </p>
    <div>
      <h3>Lista de Cursos</h3>
      <div v-if="courses.length == 0">
        <p class="red">Aun no has realizado cursos</p>
      </div>
      <div v-else>
        <ol v-for="course in courses">
          <!-- Lista de cursos -->
          <li>{{ course.title }} || Horas: {{ course.time }}</li>
        </ol>
      </div>
      <hr />
      <p>
        Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.</b>
      </p>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="app.js"></script>

</body>

</html>